# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

jobs:
- job: Windows
  pool:
    vmImage: 'windows-2019'
  steps:
  - task: UseDotNet@2
    inputs:
      version: 3.1.100
  - script: |
    dotnet tool restore
    dotnet fake build --target All
- job: macOS
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - task: UseDotNet@2
    inputs:
      version: 3.1.100
  - bash: |
    dotnet tool restore
    dotnet fake build --target BuildNetCore
- job: Linux
  pool:
    vmImage: 'ubuntu-18.04'
  steps:
  - task: UseDotNet@2
    inputs:
      version: 3.1.100
  - bash: |
    dotnet tool restore
    dotnet fake build --target BuildNetCore