version 5.249.2

framework: net48
source https://api.nuget.org/v3/index.json

nuget FSharp.Compiler.Service ~> 37.0.0
nuget FSharp.Compiler.Tools ~> 10.2.3
nuget FSharp.Core = 5.0.2
nuget AsyncIO >= 0.1.69
nuget NetMQ 4.0.0.272-pre
nuget Newtonsoft.Json ~> 13.0.1
nuget FAKE >= 5.16.0
nuget Paket.Core ~> 5.249.2
nuget Trinet.Core.IO.Ntfs
nuget Plotly.NET 2.0.0-preview.17
nuget Plotly.NET.ImageExport 2.0.0-preview.17
nuget System.Memory 4.5.4
nuget Microsoft.Extensions.Logging 6.0.0

group NETCORE

framework: netstandard2.0, netcoreapp3.1
source https://api.nuget.org/v3/index.json

nuget FSharp.Compiler.Service ~> 37.0.0
nuget FSharp.Compiler.Tools ~> 10.2.3
nuget FSharp.Core = 5.0.2
nuget AsyncIO >= 0.1.69
nuget NetMQ 4.0.0.272-pre
nuget Newtonsoft.Json ~> 13.0.1
nuget FAKE >= 5.16.0
nuget Paket.Core ~> 5.249.2
nuget Trinet.Core.IO.Ntfs
nuget Plotly.NET 2.0.0-preview.17
nuget Plotly.NET.ImageExport 2.0.0-preview.17
nuget System.Memory 4.5.4
nuget Microsoft.Extensions.Logging 6.0.0

group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target