framework: >= net451
source https://www.nuget.org/api/v2
redirects: on

nuget FSharp.Compiler.Service ~> 12.0.5
nuget FSharp.Compiler.Tools ~> 4.1.5
nuget FSharp.Core >= 4.1.12
nuget AsyncIO = 0.1.20.0
nuget NetMQ
nuget Newtonsoft.Json
nuget FAKE >= 4.58.6
nuget xUnit
nuget xunit.runner.console
nuget Paket.Core ~> 4.3.2
nuget Trinet.Core.IO.Ntfs

group Docs

	framework: >= net451
	source https://www.nuget.org/api/v2

	nuget FSharp.Formatting
