source https://www.nuget.org/api/v2

nuget FSharp.Compiler.Service 6.0.2 framework: >= net451
nuget NetMQ 3.3.3.1
nuget Newtonsoft.Json ~> 9.0.1 framework: >= net451
nuget FAKE
nuget xUnit >= 2.1 framework: >= net451
nuget xunit.runner.console >= 2.1 framework: >= net451
nuget Paket.Core >= 3.17.2
nuget Chessie ~> 0.6