th {
	background-color: #ececec;
}

.br-intellisense {
    min-width: 220px;
    max-height: 176px;
    min-height: 22px;
    z-index: 10;
    overflow: auto;
    position: absolute;
    background-color: white;
    border: 1px solid #E5C365;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
    padding: 0;
    margin: 5px;
    display: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.br-documentation {
    min-width: 200px;
    padding: 3px;
    overflow: auto;
    position: absolute;
    z-index: 10;
    background-color: #E7E8EC;
    border: 1px solid #CCCEDB;
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    font-family: 'Segoe UI';
    font-size: 10pt;
    white-space: pre-line;
    display: none;
}

.br-listlink {
    font-family: 'Segoe UI';
    font-size: 10pt;
    list-style: none;
    cursor: pointer;
    border: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
}

.br-listlink:hover {
    background-color: #FDF4BF;
}

.br-selected {
    background-color: #FDF4BF;
    border: 1px dotted black;
}

.br-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-top;
    margin: 2px;
}

.br-methods {
    min-width: 220px;
    min-height: 22px;
    z-index: 10;
    padding: 3px;
    overflow: auto;
    position: absolute;
    background-color: #E7E8EC;
    border: 1px solid #CCCEDB;
    margin: 5px;
    display: none;
    font-family: 'Segoe UI';
    font-size: 10pt;
}

.br-methods-text {
    margin-left: 75px;
}

.br-methods-arrows {
    width: 75px;
    float: left;
    font-family: Calibri;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.br-methods-arrow {
    cursor: pointer;
}

.br-methods-arrow-text {
    font-weight: normal;
    margin-left: 2px;
    margin-right: 2px;
}

.br-tooltip {
    min-width: 220px;
    max-height: 176px;
    min-height: 22px;
    z-index: 10;
    position: absolute;
    background-color: #E7E8EC;
    border: 1px solid #CCCEDB;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
    padding: 5px;
    margin: 5px;
    display: none;
    font-size: 12px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    overflow: auto;
}

.br-errormarker {
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAQCAYAAAAxtt7zAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAABdJREFUKFNjGNbgPxihAZggiiSEw8AAAMxEB/k37k01AAAAAElFTkSuQmCC);
   background-repeat: repeat-x;
   background-position: left bottom;
   margin-bottom: -1px;
}

.icon-glyph-72 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARZJREFUeNpi/P//PwMlgBEIsImHQTEIrIJiDPDv3z+wCejYBIjXAbETEOtA2djUMYBcz4LFYCMg/gvEF4H4LRAH4fMCExYxLSB+BtVMECAb0AXE24FYHYjVoGw9KA3CMVB14ih8NH9ZAvFuKA3ix0HpCKg4KFyWALEbrjAwBWJQvN6B8hdB6UdADFJbC8SOyBrQDdAH4sdA/BpNXBCIWYG4AF8YiAKxKhBfw5ImaqGWCeMzQBOIeYD4NIgDTaHlQFwBxBZAzAbEYlC157DFSC007sWh/BwgvoEkD+ODsDeSJWBgCcRHgXgLgWjngWIGmAGgjPASygclnhQgfghK5kj4Lxr/P4wGAVDAGCILkpwbKc3OAAEGAOsaUbKinMktAAAAAElFTkSuQmCC)
}
.icon-glyph-74 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAQlJREFUOE+l0r9KwlEYxvGjFBFGRH8UvYZwscUGh5Aa3MVBG5vExcGpG3DKC2hrK5qCIAchFJqKtm6hm8i+j74/ORzObyiHj+d9Hw6PP/+4+ditxWXqPzFNPBjNsTupBSd4xBmObY7dSy24wj0OvCwqreAGoyCLCguGeA6UvbkN3Sske+wJqhjbqf3SzhaU63u5wzmiH6GHFxx5mZxiYlZ5rODWhHkDU+gXWuVhgd71FX0vE/0P3syFZQthQQ3vdjpXnysbWKZZZ8eblwW6aK7xiYLtXXzZ7O/SUOYXVDHDk+1pdsxiTwq+zQcqOMQ+9rCLHLaxhU1sIItMUlBCEXr0PP5WoJf/c+4X/GGBYJtXJyYAAAAASUVORK5CYII=)
}
.icon-glyph-102 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAqNJREFUeNqUU0tIVFEY/u5jxpmaEQwHAh+gNZoNvkjTUUYNRtLwtXERROuoli5KS2oTtq02hQRFpW2cnCDMQUe7SQuTyGKGlMTIBzHgiON4de7cezv/hTFd9Prg55xzz/995z/f/Q/X2dkJwgWbzxg5Dqc5oBF/gQ4EEkm8FlMf/LIHzWaJpi3e7keXv4XDiK6t4UR9PdRkEpHlZQiiCJPJBJPZjLd3LqXpOkTB5XIZAjH9AFY0B9K0LdPS5FPZfPh4eXltLcZ9PuQVFiIRjyOytARlexuqoiC3sunk1+nANlWQz6KKhf2HlgmLnl3kyM2uLa6oQHB4GJUejzF6mpqQZMRYNAplZwfrq4uReEI/KKqq6u7q6rrqcDhckdAE5C8BVNfVY6C/Hy0dHRj1+3GqsRHSyAjKmKimqvqn9++i89NjnwUer3hN09Lj8bhrYWEBs/57qKh2w/d8ELI1Cw8f3EddQwOCgQCKS0shBYMYDU5xdwfHx7YU/Zyq4bHITNG8Xq/hw7xNhm+gDzVnr8BZ046wNIThJ7fQ2taGNxMTOFTWjhqnG9L67bGPwEr2TghiMpnkWBXQmaX5VS1GENjVUMBEaO/lsz7kNZxH+pEqI484lLMoFBgCPCW7XxzDVFsIkiQhIyMDFosFZva7jla3GpECz/MkwKfWuwKTZ2ZpA263e1/D0Le9EARhv4CiKDwlfejtQXHvTczMzMBqte4SZFk21qmxpKQExNkVSCQSAlVQ1H3dOK2Uuf0nUC5x9goYV+gZysSN1lWEqYVZs5APhNTcZrMhJyfH8IA4tLexsfGrgmvN30HXdTqdvz2dKhTZeyDO5uYm5ubmILImMnHsCdIj+RdQLnEY2UEWcXa7/SJzNgv/AVZxJBaLjbLp2k8BBgCbzEoRe8NC/gAAAABJRU5ErkJggg==)
}
.icon-glyph-42 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAqNJREFUeNqUU0tIVFEY/u5jxpmaEQwHAh+gNZoNvkjTUUYNRtLwtXERROuoli5KS2oTtq02hQRFpW2cnCDMQUe7SQuTyGKGlMTIBzHgiON4de7cezv/hTFd9Prg55xzz/995z/f/Q/X2dkJwgWbzxg5Dqc5oBF/gQ4EEkm8FlMf/LIHzWaJpi3e7keXv4XDiK6t4UR9PdRkEpHlZQiiCJPJBJPZjLd3LqXpOkTB5XIZAjH9AFY0B9K0LdPS5FPZfPh4eXltLcZ9PuQVFiIRjyOytARlexuqoiC3sunk1+nANlWQz6KKhf2HlgmLnl3kyM2uLa6oQHB4GJUejzF6mpqQZMRYNAplZwfrq4uReEI/KKqq6u7q6rrqcDhckdAE5C8BVNfVY6C/Hy0dHRj1+3GqsRHSyAjKmKimqvqn9++i89NjnwUer3hN09Lj8bhrYWEBs/57qKh2w/d8ELI1Cw8f3EddQwOCgQCKS0shBYMYDU5xdwfHx7YU/Zyq4bHITNG8Xq/hw7xNhm+gDzVnr8BZ046wNIThJ7fQ2taGNxMTOFTWjhqnG9L67bGPwEr2TghiMpnkWBXQmaX5VS1GENjVUMBEaO/lsz7kNZxH+pEqI484lLMoFBgCPCW7XxzDVFsIkiQhIyMDFosFZva7jla3GpECz/MkwKfWuwKTZ2ZpA263e1/D0Le9EARhv4CiKDwlfejtQXHvTczMzMBqte4SZFk21qmxpKQExNkVSCQSAlVQ1H3dOK2Uuf0nUC5x9goYV+gZysSN1lWEqYVZs5APhNTcZrMhJyfH8IA4tLexsfGrgmvN30HXdTqdvz2dKhTZeyDO5uYm5ubmILImMnHsCdIj+RdQLnEY2UEWcXa7/SJzNgv/AVZxJBaLjbLp2k8BBgCbzEoRe8NC/gAAAABJRU5ErkJggg==)
}
.icon-glyph-6 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAqNJREFUeNqUU0tIVFEY/u5jxpmaEQwHAh+gNZoNvkjTUUYNRtLwtXERROuoli5KS2oTtq02hQRFpW2cnCDMQUe7SQuTyGKGlMTIBzHgiON4de7cezv/hTFd9Prg55xzz/995z/f/Q/X2dkJwgWbzxg5Dqc5oBF/gQ4EEkm8FlMf/LIHzWaJpi3e7keXv4XDiK6t4UR9PdRkEpHlZQiiCJPJBJPZjLd3LqXpOkTB5XIZAjH9AFY0B9K0LdPS5FPZfPh4eXltLcZ9PuQVFiIRjyOytARlexuqoiC3sunk1+nANlWQz6KKhf2HlgmLnl3kyM2uLa6oQHB4GJUejzF6mpqQZMRYNAplZwfrq4uReEI/KKqq6u7q6rrqcDhckdAE5C8BVNfVY6C/Hy0dHRj1+3GqsRHSyAjKmKimqvqn9++i89NjnwUer3hN09Lj8bhrYWEBs/57qKh2w/d8ELI1Cw8f3EddQwOCgQCKS0shBYMYDU5xdwfHx7YU/Zyq4bHITNG8Xq/hw7xNhm+gDzVnr8BZ046wNIThJ7fQ2taGNxMTOFTWjhqnG9L67bGPwEr2TghiMpnkWBXQmaX5VS1GENjVUMBEaO/lsz7kNZxH+pEqI484lLMoFBgCPCW7XxzDVFsIkiQhIyMDFosFZva7jla3GpECz/MkwKfWuwKTZ2ZpA263e1/D0Le9EARhv4CiKDwlfejtQXHvTczMzMBqte4SZFk21qmxpKQExNkVSCQSAlVQ1H3dOK2Uuf0nUC5x9goYV+gZysSN1lWEqYVZs5APhNTcZrMhJyfH8IA4tLexsfGrgmvN30HXdTqdvz2dKhTZeyDO5uYm5ubmILImMnHsCdIj+RdQLnEY2UEWcXa7/SJzNgv/AVZxJBaLjbLp2k8BBgCbzEoRe8NC/gAAAABJRU5ErkJggg==)
}
.icon-glyph-90 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABAElEQVR4Xs1PXctEQBgdvEmIkDtCiET4RX7y/JS5Vup5n9POblO763pPnc50PmYQv4dt29Z93xXrYXiH9tbb8TzP67IsiknQp2966HwcD8NQjeOomASdpulVxNnM0BUm2raNu66TTGKqvu/fXoGHTHckNgKoqiqu61oyiamapvn6n8jQ0V2JrSiKQjKJqcqyxPgW6KCrN/Lvui5BRMi03uM8T2FZFoyH5nkeZ1kmmcRUaZp+/Qpk6OiuxFYASZLEDMkkpoqi6O0SeMh0R2IjTIRhWAVBoJgE9X3/dQnOZoau+ATP81bXdRWToE/f9NARd3AcZ7VtW7EehndoD+Mfwz/GwWVuFIPZmAAAAABJRU5ErkJggg==)
}
.icon-glyph-84 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACKUlEQVR4XqWTX0hTcRTHP/e3TTevyxkURFiCg0DwRciaD0lLKoPMPwWZkkFFUL1IQdZDD/UUgpFGry2LsHrqHz2IMYgCFVJEJPMOUzNjMlFyOjd2T4sFiVd78QNfDgfO+XIezlcTETbEegbSSetooFhGO3wy+miPfGnNDksnntW7dqwgD2gxYv4m7/5rEB0Huw5oW4yXZ2dhSbEChRWMeN5Vb/l5GLkO0wGYaIPJdry1DzWjxfXjvwbhKxzAEQUtJbcbXBroTnCZKU2x8FNjJXaAFxAkDR/u4cyrnGN46BwkAGWj8GQSNMBZxVyUXxaDzCy1+ejXgSLsDhNbhinxRTQH8H2I4dt1UADo8DnQQWJq8ZDFQJmmYymuM9nZrWwOURp2kosJ9NJ6WABfr/B4voiJ92Mz1a/5ZjEwTUSmQ2TP9QGCUgoxk2wzxrgfa6LtOJw5cmPi47tTO1mFAkgmQc0Y5ER6cId70MN9eIxX8PQOby62MjQARQ11OwovST7AWhfgyDBxzg6CkMYFubZZmvPgSTfUlEBgnBBgs14gaKqgEA6mVF4MFV7682vI9OUS/AS2OLztAX9pQrmrI5ctr/wMBrvK9kqwsiIxWL0v0V9VHKVepPSmyO5mkZLmdPXfEsmqHRe9dsTzd3ftLNj8w88b74psbRDZfjqlxj813V9oF1GHe4PrZkEd6yrY5IqciMZC+HYtg8Y/BCILmeR4lsvmU3NAaMNx/g3wxfZdOoWSNAAAAABJRU5ErkJggg==)
}
.icon-glyph-0 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACKUlEQVR4XqWTX0hTcRTHP/e3TTevyxkURFiCg0DwRciaD0lLKoPMPwWZkkFFUL1IQdZDD/UUgpFGry2LsHrqHz2IMYgCFVJEJPMOUzNjMlFyOjd2T4sFiVd78QNfDgfO+XIezlcTETbEegbSSetooFhGO3wy+miPfGnNDksnntW7dqwgD2gxYv4m7/5rEB0Huw5oW4yXZ2dhSbEChRWMeN5Vb/l5GLkO0wGYaIPJdry1DzWjxfXjvwbhKxzAEQUtJbcbXBroTnCZKU2x8FNjJXaAFxAkDR/u4cyrnGN46BwkAGWj8GQSNMBZxVyUXxaDzCy1+ejXgSLsDhNbhinxRTQH8H2I4dt1UADo8DnQQWJq8ZDFQJmmYymuM9nZrWwOURp2kosJ9NJ6WABfr/B4voiJ92Mz1a/5ZjEwTUSmQ2TP9QGCUgoxk2wzxrgfa6LtOJw5cmPi47tTO1mFAkgmQc0Y5ER6cId70MN9eIxX8PQOby62MjQARQ11OwovST7AWhfgyDBxzg6CkMYFubZZmvPgSTfUlEBgnBBgs14gaKqgEA6mVF4MFV7682vI9OUS/AS2OLztAX9pQrmrI5ctr/wMBrvK9kqwsiIxWL0v0V9VHKVepPSmyO5mkZLmdPXfEsmqHRe9dsTzd3ftLNj8w88b74psbRDZfjqlxj813V9oF1GHe4PrZkEd6yrY5IqciMZC+HYtg8Y/BCILmeR4lsvmU3NAaMNx/g3wxfZdOoWSNAAAAABJRU5ErkJggg==)
}
.icon-glyph-48 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACKUlEQVR4XqWTX0hTcRTHP/e3TTevyxkURFiCg0DwRciaD0lLKoPMPwWZkkFFUL1IQdZDD/UUgpFGry2LsHrqHz2IMYgCFVJEJPMOUzNjMlFyOjd2T4sFiVd78QNfDgfO+XIezlcTETbEegbSSetooFhGO3wy+miPfGnNDksnntW7dqwgD2gxYv4m7/5rEB0Huw5oW4yXZ2dhSbEChRWMeN5Vb/l5GLkO0wGYaIPJdry1DzWjxfXjvwbhKxzAEQUtJbcbXBroTnCZKU2x8FNjJXaAFxAkDR/u4cyrnGN46BwkAGWj8GQSNMBZxVyUXxaDzCy1+ejXgSLsDhNbhinxRTQH8H2I4dt1UADo8DnQQWJq8ZDFQJmmYymuM9nZrWwOURp2kosJ9NJ6WABfr/B4voiJ92Mz1a/5ZjEwTUSmQ2TP9QGCUgoxk2wzxrgfa6LtOJw5cmPi47tTO1mFAkgmQc0Y5ER6cId70MN9eIxX8PQOby62MjQARQ11OwovST7AWhfgyDBxzg6CkMYFubZZmvPgSTfUlEBgnBBgs14gaKqgEA6mVF4MFV7682vI9OUS/AS2OLztAX9pQrmrI5ctr/wMBrvK9kqwsiIxWL0v0V9VHKVepPSmyO5mkZLmdPXfEsmqHRe9dsTzd3ftLNj8w88b74psbRDZfjqlxj813V9oF1GHe4PrZkEd6yrY5IqciMZC+HYtg8Y/BCILmeR4lsvmU3NAaMNx/g3wxfZdOoWSNAAAAABJRU5ErkJggg==)
}
.icon-glyph-12 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAABCklEQVQ4T6XSPWpCQRSG4atEgigiiVHiGoKNNqZIkUILe7FQC4tUIU2KVG7AKlmAnZ1iJQSSIhAiWCl2bsFNeH3P9VwZhrlFtHiccz6Hz1/PG/rn2fViLk1MlMyuO5EFFUzxiDudXfciC54wxrWROUUVvOPDypzsggE+LSVjbkPuFcLd9Q6q+NZT9q6eLUgu38sINTg/wgu+cGNk4h4/6pi7CobKzhv4g/xCx9wukFf9xauRCfkfLFRds4Bd8IClnp7fC55700xmOTvGfCiQi6qPNQq6P2Ojs7mLhmRmQRVzzHSPklbBHhZs1Qpl5HCFLDJIIYlLJHCBOGJhQRG3kLeex/8KgoeT+d4euPiUmIoqyN4AAAAASUVORK5CYII=)
}
.icon-glyph-108 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACKUlEQVR4XqWTX0hTcRTHP/e3TTevyxkURFiCg0DwRciaD0lLKoPMPwWZkkFFUL1IQdZDD/UUgpFGry2LsHrqHz2IMYgCFVJEJPMOUzNjMlFyOjd2T4sFiVd78QNfDgfO+XIezlcTETbEegbSSetooFhGO3wy+miPfGnNDksnntW7dqwgD2gxYv4m7/5rEB0Huw5oW4yXZ2dhSbEChRWMeN5Vb/l5GLkO0wGYaIPJdry1DzWjxfXjvwbhKxzAEQUtJbcbXBroTnCZKU2x8FNjJXaAFxAkDR/u4cyrnGN46BwkAGWj8GQSNMBZxVyUXxaDzCy1+ejXgSLsDhNbhinxRTQH8H2I4dt1UADo8DnQQWJq8ZDFQJmmYymuM9nZrWwOURp2kosJ9NJ6WABfr/B4voiJ92Mz1a/5ZjEwTUSmQ2TP9QGCUgoxk2wzxrgfa6LtOJw5cmPi47tTO1mFAkgmQc0Y5ER6cId70MN9eIxX8PQOby62MjQARQ11OwovST7AWhfgyDBxzg6CkMYFubZZmvPgSTfUlEBgnBBgs14gaKqgEA6mVF4MFV7682vI9OUS/AS2OLztAX9pQrmrI5ctr/wMBrvK9kqwsiIxWL0v0V9VHKVepPSmyO5mkZLmdPXfEsmqHRe9dsTzd3ftLNj8w88b74psbRDZfjqlxj813V9oF1GHe4PrZkEd6yrY5IqciMZC+HYtg8Y/BCILmeR4lsvmU3NAaMNx/g3wxfZdOoWSNAAAAABJRU5ErkJggg==)
}
.icon-glyph-18 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAz0lEQVR4XqVTwQ2DMAz0Vd2hjEMX4M2cTEMnKGpCGcGVG9GTLSO16ikXk2Aup1MQVW0UMdqsfCb2vts8q9WdJ/kR67YJIRSA8a0JWMWRQK25gMp3qHU9cqDKyiwiSnm49dkFJYATTAVK5iAHcoEjBwA+acCININScwG1Ec5FYqKumQCDBAWRZvAM9wB71oALU5sYN7vuoqo+oOW+gA7ixwF9f5VpmpqmigzD4O+47aq0QRKthy/5LzjbzM3WUWQcR1edA+uOtBH7eHojbPoHL7yxpA/wfZSBAAAAAElFTkSuQmCC)
}
.icon-glyph-30 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACO0lEQVR4Xo2SS0hUURiAv3PunWFMMinNiijG3BQ9wIykh6skU2xji2gTSFEY1EJyYWHLqEURBaY9wGVBBC3KMsIEGUmLGi1RRs0YnPH9Gu80cx+nWVhckgG/xVkc+D5+zvmFUgoAIQShx8cPOY7VqWwLlu8RIKREaB6E1CiobhUAfz0dF0vxeOWWwr3kHLiEYxlgG0jPOqxEjJFn9bzujl7GxYqALpwKX+52knPfiY/eB+klc0cdU59eYSTMwStNvS38h8SFx6v2+HL8WIs/ENpavOuPYhtzLIR6KGvoOQUspJ0g9Kik0LchC9BRZhjpycSTtYuJwBuCo7Hb0dlEH0DagPHbrMrO86OSU+AkEPoaJgPNLA5Nsm+br26w8WCdkBpC0xFSAgh3AF04lRl5m3DsaaSeAcDGI7XklSgUFkItoZCMtTYxHom15wMA/74x1Fys8k9fwIr9AnMRx7FIHSAEUtNQShENfCUaWXpXXNtdk/KG3BMgpCDS9hzHtlFWkq0nGzDnO5DKxDQMJnuC9Idmmk/cCN4Chle8QcH5riKAu+f8xVWl/gdCgqZJzJhFpCNAR99cffW9gRZgLN0efAYoK8y+6cvNRTCFHU8y9rGdzv756yn5ITCbZg9cRZ3SjM27MWd/Ev7wlqtPhsrP3hlodMnpA8NP95+RQqTkMOG2F1xrGal4GZh+D8yQBh0XSUvVeDUYD3ZN7Lz4rRzoBUyAVQW8OodtRy2k5GPLsotVBPKrvxQB9mplgD9z7vSpojdyCgAAAABJRU5ErkJggg==)
}

.icon-glyph-1000 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAASklEQVR42mNkgIKGhob/DAQAUA0juhgjsgH19fU4NTc2NmI1hCQDQPIgGtkQkg2AsWGGkOwF9DAh2gBsBo4aMGoAbQwgWjdCDyMAjqlwEfGZXsQAAAAASUVORK5CYII=);
}

.icon-glyph-1001 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAoklEQVR4XsXTPQ6CQBCG4Q8ksTAbrb2BB6CioLT0Cl7Bxmt4Bc9gZwmJieEChsKCUkMFFT9hCJspiAVxGRKeevPObDZrEREkbAg5AJDfTwS2UNvbyjsfMKC/dXcFHVD+DjoWvPAvtb9YDn5waFB/kA5USYjs8YGJOok5wJauZxZ4x5O9AiOSBaguhYGqmHmDJv3CXm9GB45l9LzCjD4//29sAVazOELv0oQIAAAAAElFTkSuQmCC);
}

.cm-s-neat span.cm-comment { color: #008000; }
.cm-s-neat span.cm-keyword { line-height: 1em; font-weight: bold; color: blue; }
.cm-s-neat span.cm-string { color: #B21543; }
.cm-s-neat span.cm-builtin { line-height: 1em; font-weight: bold; color: #077; }
.cm-s-neat span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
.cm-s-neat span.cm-variable { color: black; }
.cm-s-neat span.cm-number, .cm-s-neat span.cm-atom { color: #3a3; }
.cm-s-neat span.cm-meta {color: #555;}
.cm-s-neat span.cm-link { color: #3a3; }

.cm-s-neat .CodeMirror-activeline-background {background: #e8f2ff !important;}
.cm-s-neat .CodeMirror-matchingbracket {outline:1px solid grey; color:black !important;}

.cm-s-neat.CodeMirror {
    font-family: "Fira Code", Consolas, Monaco, Menlo, "Andale Mono", "lucida console", "Courier New", monospace !important;
    font-feature-settings: "calt" 1;
    box-shadow: inset 0 0 2px black;
}