framework: net472
generate_load_scripts: true
source https://api.nuget.org/v3/index.json
#When changing the default FSharp.Core version make sure to change everywhere e.g. Clear()
nuget FSharp.Core = 4.5.4